<div class="content">
    <section>
        <h2>Create New Post</h2>

        <form class="new-post">
            <div>
                <label for="post-title">title</label>
                <input type="text" id="post-title" name="post-title" />
            </div>
            <div>
                <label for="post-text">content</label>
                <textarea name="post-text" placeholder="What's on your mind?"></textarea>
            </div>
            <button type="submit" class="btn"><i class="fa-solid fa-pen-to-square"></i> create</button>
        </form>
    </section>
</div>

<script src="/javascript/add-post.js"></script>