<div class="content">

    {{#if posts.length}}
    <section class="dashboard">
        <h2>Your Posts</h2>
        <ol>
            {{#each posts as |post|}}
            <li>
                <a href="/dashboard/edit/{{post.id}}" class="edit-link">{{post.title}} {{format_date post.created_at}}</a>
            </li>
            {{/each}}
        </ol>
    </section>
    {{/if}}

    <section>
        
    </section>
</div>

<script src="/javascript/add-post.js"></script>