<div class="content">
    <h2>Welcome Back</h2>

    <form class="login-form">
        <div>
            <label for="username-login">username:</label>
            <input type="text" id="username-login" />
        </div>
        <div>
            <label for="password">password:</label>
            <input type="password" id="password-login" />
        </div>
        <div>
            <button type="submit">login <i class="fa-solid fa-angle-right"></i></button>
        </div>
    </form>

    <div class="link">
        Don't have an account? <a href="/signup">Sign up instead</a>
    </div>
</div>

<script src="/javascript/login.js"></script>